<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
	</script>
    <title>PittBookStore</title>
   <style>
  .container {
    padding: 80px 120px;
  }
  </style>
</head>
<body>
   <div class="container  text-center">
  <div style="background-color: yellow; height: 87px; width: 100%; border: 1px solid white; background-position: center; background-size: 100%;">
  <div class="row">
    <div class="col-md-1 col-xs-2">
    </div>
    <div class="col-md-10 col-xs-8">
      <p style="color: black; font-size: 155%; height: 100%; width: 100%; margin-top: 1.8%; text-align: center;">
        <strong><h1>One Stop Shop For All Your Programming Books!</h1></strong>
        {% if session.logged_in %}
    	<h3>Welcome Back {{session.userFirst}} !</h3>
		{% endif %}
    </p>
    </div>
    <div class="col-md-1 col-xs-2">
      <div style="margin-top: 15px;">
      </div>
    </div>
   </div>
</div>
  <div id = "bg" style="background-image: url('/static/images/programmer.jpg');
  background-size: cover; height:480px; padding-top:80px;">
  </div>
</div>
</body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
      	<li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
        <li><a href="#home">HOME</a></li>
        <li><a href="/books">BOOKS</a></li>
        <li><a href="#contact">CONTACT US</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">ACCOUNT
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/signin">Sign in</a></li>
            <li><a href="/signup">Sign up</a></li>
            <li><a href="#">Cart</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li> 
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<body id="home" data-spy="scroll" data-target=".navbar" data-offset="50">

<div id="books" class="container">
<div id="contact" class="container">
<div id="account" class="container">

</html>
