<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Account</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css" />
<script type="text/javascript">
  function ValidateEmail()   
{
    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(myForm.userEmail.value))  
    {
        return (true);
    }
    alert("Please enter a valid email id");  
    return (false);

    if(myForm.userPassword.value !== myForm.userRepeatPassword.value)
    {
      alert("Password entered do not match");  
    return (false);
    }
}
</script>
  </head>
  <body class="bg-blue-500">
    <!-- Login Form -->
    <div class="container mx-auto p-2">
      <div class="max-w-sm mx-auto my-24 bg-white px-5 py-10 rounded shadow-xl">
        <div class="text-center mb-8">
          <h1 class="font-bold text-2xl font-bold">Sign Up</h1>
        </div>
        <form name=myForm action="/signup/" method="POST" onsubmit="return ValidateEmail();">
          <div class="mt-5">
            <label for="userEmail">Email</label>
            <input
              name="userEmail"
              type="text"
              id="username"
              class="block w-full p-2 border rounded border-gray-500"
              required
            />
          </div>
          <div class="mt-5">
            <label for="password">Password</label>
            <input
              name="userPassword"
              type="password"
              id="password"
              class="block w-full p-2 border rounded border-gray-500"
              required
            />
          </div>
          <div class="mt-5">
            <label for="password">Repeat Password</label>
            <input
              name="userRepeatPassword"
              type="password"
              id="password"
              class="block w-full p-2 border rounded border-gray-500"
              required
            />
          </div>
          <div class="mt-5">
            <label for="firstname">First Name</label>
            <input
              name="userFirst"
              type="text"
              id="userFirst"
              class="block w-full p-2 border rounded border-gray-500"
              required
            />
          </div>
          <div class="mt-5">
            <label for="lastname">Last Name</label>
            <input
              name="userLast"
              type="text"
              id="userLast"
              class="block w-full p-2 border rounded border-gray-500"
              required
            />
          </div>
          <div class="mt-5">
            <label for="userPhone">Phone Number [Format: (XXX)XXXXXXX]</label>
            <input
              name="userPhone"
              type="tel"
              id="userPhone"
              class="block w-full p-2 border rounded border-gray-500"
              placeholder = "(xxx)xxx-xxxx"
              size = "14"/
              pattern="\(\d{3}\)[ ]?\d{3}[-]?\d{4}" 
              required
            />  
          <div class="mt-10">
            <input
              type="submit"
              value="Create Account"
              class="py-3 bg-green-500 hover:bg-green-600 rounded text-white text-center w-full"
            />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>